{% extends "base.html" %}
{% load static %}

{% block page_title %}Каталог{% endblock page_title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "catalog/css/list.css" %}">
{% endblock extrahead %}

{% block content %}
<div class="py-5">
    {% for site in sites %}
    {% include "catalog/site_card.html" %}
    {% endfor %}
</div>

<div class="">
<ul class="pagination pagination justify-content-center">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">В начало</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true"><span aria-hidden="true">&laquo;</span></a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <p class="page-link" tabindex="-1" aria-disabled="true">В начало</p>
        </li>
        <li class="page-item disabled">
            <p class="page-link"  tabindex="-1" aria-disabled="true"><span aria-hidden="true">&laquo;</span></p>
        </li>
    {% endif %}
    <li class="page-item disabled"><p style="font-size: 2;" class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</p></li>
    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true">&raquo;</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">В конец</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <p class="page-link"><span aria-hidden="true">&raquo;</span</p>
        </li>
        <li class="page-item disabled">
            <p class="page-link">В конец</p>
        </li>
    {% endif %}
</ul>
</div>
{% endblock content %}