{% load static %}
{% load common %}

<div class="row justify-content-center mb-3">
    <div class="col-md-12 col-xl-10">
      <div class="card shadow-0 border rounded-3">
        <div class="card-body">
          <div class="row">

            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
              <div class="bg-image hover-zoom ripple rounded ripple-surface text-center">
                <a class="text-decoration-none" href="{{ site.url }}">
                  <img class="img-thumbnail border-0 w-50 h-50"
                  src={% if site.logo %}"{{ site.logo.url }}"{% else %}"{% static 'catalog/img/default.png' %}"{% endif %} 
                  alt="картинка">
                </a>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6">
              <div class="d-flex justify-content-center w-100 mb-2">
                    <div class='me-auto lh-1'>
                      <a class="text-decoration-none text-dark fs-3 text-break" href="{{ site.url }}">{{ site.name }}</a>
                    </div>

                    {% block rating %}

                    {% if site.rating_num > 0 %}
                    <div>
                      <div class="d-flex align-items-center lh-1">
                        <span class="text-muted fs-4">{{ site.rating_avg|floatformat:2 }}</span>
                        <img class="mx-1" src="{% static 'catalog/img/star.png' %}" alt="" width="20" height="20">
                        <span class="text-muted fs-6 ms-2">{{ site.rating_num }}</span>
                      </div>
                    </div>
                    {% endif %}

                    {% endblock rating %}
                </div>

                <p class="text-muted fs-6">{{ site.description|truncatechars:200 }}</p>
            </div>
            
            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                {% get_site_status site as site_status %}
                {% if site_status %}

                {% if site_status.status_code < 400 %}
                <h5>Статус <span class="badge bg-success rounded-pill">Работает. Код {{ site_status.status_code }}</span></h5>
                {% else %}
                <h5>Статус <span class="badge bg-danger rounded-pill">Не работает. Код {{ site_status.status_code }}</span></h5>
                {% endif %}

                {% if site_status.ping %}
                <h5>Пинг <span class="badge bg-info rounded-pill">{{ site_status.ping|floatformat:2 }} мс</span></h5>
                {% endif %}
                {% if site.avg_ping %}
                <h5 class="mb-2">Средний пинг <span class="badge bg-info rounded-pill">{{ site.avg_ping|floatformat:2 }} мс</span></h5>
                {% endif %}
                
                {% endif %}

                <div class="d-flex flex-column">
                    <a class="btn btn-primary btn-sm" type="button" href="{{ site.get_absolute_url }}">Подробнее</a>
                </div>
                {% block extrabuttons %}
                {% endblock extrabuttons %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>