{% extends 'base.html' %}
{% load static %}

{% block content %}
{% with books=user.books.all|slice:12 quotes=user.quotes.all|slice:5 %}
<div class="row bg-light">
    <div class="text-center my-2">
        {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="Аватарка" class="rounded-circle" style="width: 150px;">
        {% else %}
        <img src="{% static 'users/no_avatar.png' %}" alt="Аватарка" class="rounded-circle" style="width: 150px;">
        {% endif %}
        <h1>{{ user.username }} {% if books %}<span class="badge bg-primary rounded-pill">Автор</span>{% endif %}</h1>
    </div>
    <h2 class="text-muted">Информация</h2>
    <div class="d-flex">
        <h3 class="text-muted pe-2">Почта:</h3><h3>{{ user.email }}</h3>
    </div>
    <div class="d-flex">
        <h3 class="text-muted pe-2">День рождения:</h3>
        <h3>{% if user.birthday_date %} {{ user.birthday_date }} {% else %} не указано {% endif %}</h3>
    </div>
    {% if books %}
    <div class="d-flex">
        <h3 class="text-muted pe-2">Книг написано:</h3>
        <h3>{{ books|length }}</h3>
    </div>
    {% endif %}

    {% if books %}
    <h2 class="text-muted pt-5">Популярные книги этого автора</h2>
    <div class="album py-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for book in books %}
            {% include 'catalog/book_card.html' %}
          {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if quotes %}
    <h2 class="text-muted py-3">Недавние сохраненные цитаты</h2>
    <ul class="list-group list-group-flush">
        {% for quote in quotes %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <h5>
                    Цитата из книги 
                    <a class="text-decoration-none text-success" href="{{ quote.book.get_absolute_url }}"><b>{{ quote.book }}</b></a>
                </h5>
                <div class="d-flex">
                    <p class="text-muted px-3">{{ quote.creation_date }}</p>
                </div>
            </div>
            <p class="text-muted fs-4">{{ quote.text }}</p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

</div>
{% endwith %}
{% endblock content %}