{% load static %}

<div>
    <canvas id="myChart"></canvas>
</div>
  
<script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>

<script>
  const ctx = document.getElementById('myChart');

  const data = [
    {% for note in site.query_notes.reverse %}
    {% if note.ping %}
    { year: {{ forloop.counter }}, count: {{ note.ping|floatformat:0 }} },
    {% endif %}
    {% endfor %}
  ];

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: data.map(row => row.year),
      datasets: [{
        label: 'Пинг за последние 24 часа',
        data: data.map(row => row.count),
        borderWidth: 1,
      }]
    }
  });
</script>