{% load static %}
{% load menu_manager %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block page_title %}
        {% if page_title %}
        {{ page_title|capfirst }}
        {% else %}
        Страница
        {% endif %}
        {% endblock page_title %}
    </title>

    {% comment %} Bootstrap CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap-5/css/bootstrap.min.css' %}">

    {% comment %} Bootstrap JS {% endcomment %}
    <script src="{% static 'bootstrap-5/js/bootstrap.bundle.min.js' %}"></script>

    {% block extrahead %}{% endblock extrahead %}
</head>

<body style="background-color: #eee; font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;">

<!-- Главное меню -->
{% block main_menu %}
{% get_main_menu request %}
{% endblock main_menu %}

{% comment %} Сообщения пользователю {% endcomment %}
{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message | safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<main class="container min-vh-100">
    {% block content %}
    Пусто...
    {% endblock content %}
</main>

{% include 'footer.html' %}

</body>

</html>
